REACT_APP_FRONTEND_URL=''
REACT_APP_SITE_NAME=''

REACT_APP_WALLET_CONNECT_PROJECT_ID=''

REACT_APP_HEDERA_NETWORK=''
REACT_APP_HEDERA_ACCOUNT_ID=''
REACT_APP_HEDERA_PRIVATE_KEY=''

REACT_APP_HEDERA_TOKEN_INITIAL_SUPPLY=''
REACT_APP_HEDERA_TOKEN_TOTAL_SUPPLY=''
REACT_APP_HEDERA_TOKEN_MAX_SALE_SUPPLY=''
REACT_APP_HEDERA_TOKEN_CREATION_FEE=''

REACT_APP_BACKEND_URL=''