DATABASE_URL="mysql://db_username:db_password@localhost:3306/db_name"

HEDERA_OPERATOR_NETWORK=''
HEDERA_OPERATOR_ID=''
HEDERA_OPERATOR_KEY=''
HEDERA_MIRROR_NODE_BASE_URL=''

SAUCER_SWAP_CONTRACT_ADDRESS=''
SAUCER_SWAP_WHBAR_TOKEN_ID=''
SAUCER_SWAP_API_URL=''